definitions:
  models.LoginReq:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  models.LoginRes:
    properties:
      id:
        type: integer
      token:
        type: string
      username:
        type: string
    type: object
  models.LogoutReq:
    properties:
      token:
        type: string
    type: object
  models.LogoutRes:
    properties:
      msg:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return token
      parameters:
      - description: Login request
        in: body
        name: loginReq
        required: true
        schema:
          $ref: '#/definitions/models.LoginReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.LoginRes'
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: login
      tags:
      - auth
  /api/auth/logout:
    post:
      consumes:
      - application/json
      description: Revoke user token
      parameters:
      - description: Logout request
        in: body
        name: logoutReq
        required: true
        schema:
          $ref: '#/definitions/models.LogoutReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.LogoutRes'
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: logout
      tags:
      - auth
swagger: "2.0"
